@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 244 48% 14%;

    --muted: 232 100% 95%;
    --muted-foreground: 232 59% 55%;

    --popover: 0 0% 100%;
    --popover-foreground: 244 48% 14%;

    --border: 233 100% 91%;
    --input: 233 100% 91%;

    --card: 0 0% 100%;
    --card-foreground: 244 48% 14%;

    --primary: 243 48% 26%;
    --primary-foreground: 231 100% 97%;

    --secondary: 232 100% 95%;
    --secondary-foreground: 243 48% 26%;

    --accent: 232 100% 95%;
    --accent-foreground: 243 48% 26%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 231 100% 97%;

    --ring: 234 63% 68%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 244 48% 14%;
    --foreground: 231 100% 97%;

    --muted: 240 56% 30%;
    --muted-foreground: 234 63% 68%;

    --popover: 244 48% 14%;
    --popover-foreground: 231 100% 97%;

    --border: 240 56% 30%;
    --input: 240 56% 30%;

    --card: 244 48% 14%;
    --card-foreground: 231 100% 97%;

    --primary: 231 100% 97%;
    --primary-foreground: 243 48% 26%;

    --secondary: 240 56% 30%;
    --secondary-foreground: 231 100% 97%;

    --accent: 240 56% 30%;
    --accent-foreground: 231 100% 97%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 97%;

    --ring: 240 56% 30%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .balance-text {
    text-wrap: balance;
  }
}